[submodule "libraries/ioLibrary_Driver"]
	path = libraries/ioLibrary_Driver
	url = https://github.com/Wiznet/ioLibrary_Driver.git
[submodule "libraries/pico-sdk"]
	path = libraries/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "libraries/picolog"]
	path = libraries/picolog
	url = https://github.com/sas229/picolog.git
